
src/.vs/LookBehindPool/v14/.suo
src/.vs/LookBehindPool/v15/.suo
src/.vs/LookBehindPool/v15/sqlite3/storage.ide
*.dll
*.pdb
src/LookBehindPool.UnitTest/bin/Debug/netcoreapp2.0/LookBehindPool.UnitTest.deps.json
src/LookBehindPool.UnitTest/bin/Debug/netcoreapp2.0/LookBehindPool.UnitTest.runtimeconfig.dev.json
src/LookBehindPool.UnitTest/bin/Debug/netcoreapp2.0/LookBehindPool.UnitTest.runtimeconfig.json
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.AssemblyInfo.cs
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.csproj.CopyComplete
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.csproj.CoreCompileInputs.cache
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.csproj.FileListAbsolute.txt
src/LookBehindPool.UnitTest/obj/LookBehindPool.UnitTest.csproj.nuget.cache
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.Program.cs
src/LookBehindPool.UnitTest/obj/LookBehindPool.UnitTest.csproj.nuget.g.props
src/LookBehindPool.UnitTest/obj/LookBehindPool.UnitTest.csproj.nuget.g.targets
src/LookBehindPool.UnitTest/obj/project.assets.json
src/LookBehindPool/bin/Debug/netstandard2.0/LookBehindPool.deps.json
src/LookBehindPool.UnitTest/obj/Debug/netcoreapp2.0/LookBehindPool.UnitTest.csprojResolveAssemblyReference.cache
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.AssemblyInfo.cs
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.csproj.CoreCompileInputs.cache
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.csproj.FileListAbsolute.txt
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.csproj.GenerateResource.Cache
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.csprojResolveAssemblyReference.cache
src/LookBehindPool/obj/Debug/netstandard2.0/LookBehindPool.Properties.Resources.resources
src/LookBehindPool/obj/LookBehindPool.csproj.nuget.cache
src/LookBehindPool/obj/LookBehindPool.csproj.nuget.g.props
src/LookBehindPool/obj/LookBehindPool.csproj.nuget.g.targets
src/LookBehindPool/obj/project.assets.json
